.App {
  height: 100vh;
  width: 100vw;

  text-align: center;
  font-size: large;
  background-color: #ede4ff;
  color: white;

  transition: background-color 0.25s;
}

* {
  box-sizing: border-box;
}

.tableContainer {
  height: 100%;
  width: 93vmin;
  margin-left: auto;
  margin-right: auto;
}

.schulteTable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: min(55vmax, 93vmin);
  height: min(55vmax, 93vmin);

  display: grid;
  row-gap: 1.1vmin;
  column-gap: 1.1vmin;
  padding: 1.75vmin;
  border-radius: 2.625vmin;
  background-color: #a076f9;
}

.controlPanel {
  height: 20%;
  width: 100%;
  bottom: 0;

  flex-direction: row;

  font-size: medium;

  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #855de0;
}

.statistics {
  height: 20%;
  width: 100%;
  top: 0;

  flex-direction: row;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #855de0;
}

.tile {
  border-radius: 10%;
}

button {
  border: 1px solid black;
  font-size: medium;
  border-radius: 2.625vmin;
  cursor: pointer;
  background-color: #d7bbf5;
}

button:hover {
  background-color: #f3d1d1;
}

.grid3x3 {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid4x4 {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid5x5 {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.unclicked {
  background-color: #d7bbf5;
}

.unclicked:hover {
  background-color: #f3d1d1;
}

.clicked {
  background-color: #6528f7;
  color: #ede4ff;
}

.clicked:hover {
  background-color: #6528f7;
}

.playAgain {
  padding: 20px 20%;
  cursor: pointer;
}

.playAgainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggleVisibilityContainer {
  width: 100%;
  flex: 10%;
}

.toggleVisibility {
  rotate: -90deg;
  font-size: x-large;
  float: right;
  margin: 10px;
}

.gameSettings {
  flex-direction: row;
  flex: 90%;
  display: flex;
  justify-content: space-around;
}

.exposePanels {
  z-index: 2;
  transition-duration: .2s;
  position: absolute;

  bottom: 20px;
  left: 20px;
  rotate: -90deg;
  font-size: x-large;
}


.chronometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 20%;
}

.matchesInfo {
  flex: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.tableReplay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  padding: 0;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8.4px rgba(0, 0, 0, 0.093),
    0px 0px 20.2px rgba(0, 0, 0, 0.133), 0px 0px 38.1px rgba(0, 0, 0, 0.165),
    0px 0px 67.9px rgba(0, 0, 0, 0.197), 0px 0px 127px rgba(0, 0, 0, 0.237),
    0px 0px 304px rgba(0, 0, 0, 0.33);
}

.replaySvg {
  width: 80%;
  height: 80%;
}

.playSvg {
  padding-left: 20%;
  width: 100%;
  height: 100%;
}

.textHidden {
  color: rgba(0, 0, 0, 0);
}

.revealTileShortly {
  animation: reveal 3s;
}

.stopSign {
  filter: invert(1);
  width: 100%;
  height: auto;
}

.tileText {
  user-select: none;
}

.dimmed {
  background-color: #2d2837;
}

.rotateAround {
  rotate: 90deg;
}


@keyframes reveal {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.transparent {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .App {
    font-size: large;
  }
  button {
    font-size: x-large;
  }
}

@media only screen and (min-width: 992px) {
  .App {
    font-size: x-large;
  }
  button {
    font-size: xx-large;
  }
}

@media only screen and (min-width: 1500px) {
  .App {
    font-size: 36px;
  }
  button {
    font-size: 44px;
  }
}

@media only screen and (min-width: 2000px) {
  .App {
    font-size: 72px;
  }
  button {
    font-size: 72px;
  }
}

@media only screen and (min-width: 3300px) {
  .App {
    font-size: 100px;
  }
  button {
    font-size: 120px;
  }
}

@media only screen and (orientation: landscape) {
  .controlPanel {
    height: 100%;
    width: 20vw;

    flex-direction: column;
  }

  .gameSettings {
    flex-direction: column;
  }

  .toggleVisibility {
    rotate: 0deg;
  }

  .statistics {
    right: 0;
    height: 100%;
    width: 20vw;

    display: flex;
    flex-direction: column;
  }

  .exposePanels {
    top: 20px;
    left: 20px;
    bottom: auto;
    rotate: 0deg;
  }

  .rotateAround {
    rotate: 180deg;
  }
  
}

